body
{
	margin: 0px;
}
/*navigation bar */
.nav-logo{
  text-align:left;
}

nav
{
  background: #b3abab;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul
{
  list-style-type: none;
  float: right;
}
nav ul li
{
  padding: 0 10px;
float: left;
color: #000;
}
/*navigation bar end*/
.pageContent
{
	padding-top: 70px;
}

.header-logo img
{
	max-height: 80vh;
	float: right;
	padding: 40px
}
.header-text
{
	font-size: 40px;
	padding: 40px;
	line-height: 25vh;
	font-family: courier;
}
.wrapper
{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
